# Build output
bin/
obj/
publish/
TestResults/
x64/
x86/
ARM64/

# IDE state
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.vscode/
*.sln

# AI Code
.claude/
GEMINI.md

.claudeignore
headroom.yaml
.env